.page-wrapper {
    height: 100%
}

/*块元素居中*/
.block-center {
    margin: 0 auto;
}

.loading {
    z-index: 1031;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.loading > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*回到顶部*/
#toTop {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    /*width: 64px;*/
    /*height: 64px;*/
    /*background-image: url('http://geniuscarrier.com/images/up.png');*/
    /*background-repeat: no-repeat;*/
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#toTop:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}